.student-details {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
}

.p-progress {
  font-weight: bold;
}

.p-details {
  color: green;
  font-size: 0.9rem;
}

.p-details span {
  font-weight: bold;
  color: black;
}
