.app {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    background-color: #5B946E;
    color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.cohortList {
    border: 8px ridge blue;
    margin: 20px 30px;
    padding-left: 10px;
    height: 95%;
    min-width: fit-content;
    min-height: fit-content;
}

.studentList {
    overflow-y: scroll;
    margin-left: 20px;
    height: 100vh;
}

.card {
    display: grid;
    grid-template-areas:
        "pic basic grad"
        "butt butt butt"
        "deets deets deets";
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.profilePic {
    grid-area: pic;
}

.basicInfo {
    grid-area: basic;
}

.gradTrack {
    grid-area: grad;
}

button {
    grid-area: butt;
}

.studentDetails {
    grid-area: deets;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
}

.green {
    color: #5B946E;
}