.App {
display: grid;
grid-template-areas: "header header" "aside main";
}
ul {
    list-style: none;
}
.img {
display: grid; 
margin-top: 20px;
margin-right: 10px;
margin-left: 10px;
border: 1px solid yellow;
float: left;
grid-template-areas: "auto";
height: 100px;
width: 100px;
}
header {
    background-color: #659367;
    height: 150 px;
    width: auto;
    grid-area: header;
    text-align: center;
    color: white;
}

.CohortList {
    display: grid;
    background-color: teal;
    grid-area: aside;
    text-decoration: underline;
}

.StudentList {
    display: grid;
    grid-area: main;
    background-color: aquamarine;
}

.StudentCard {
border: 1px solid;
margin-bottom: 10px;
}
